.red
    {
      color: black;
      background-color: #F14726;
      height: 30px;
    }

    .yellow
    {
      color: black;
      background-color: #FEF445;
      height: 30px;
    }

    .orange
    {
      color: black;
      background-color: #F9C710;
      height: 30px;
    }

    .blue
    {
      color: black;
      background-color: #12CDD4;
      height: 30px;
    }

    .green
    {
      color: black;
      background-color: #CEE741;
      height: 30px;
    }

    .purple
    {
      color: black;
      background-color: #9610AD;
      height: 30px;
    }

    